@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=M+PLUS+2:wght@300&family=Playfair+Display&display=swap');



/* All Pages */

.active{
  text-decoration-line: underline;
}

a,
a:link{
  color: #000;
  text-decoration-line: none;
}


a:visited{
  color: #000;
}

a:active{
  color: #000;
}




/* Homepage */

#title{
  align-content: center;
  justify-content: center;
  font-family: 'Playfair Display', "Helvetica", "Arial", serif;
  font-size: 27px;
}

#topi h1 a:hover{
  color: #D97A16;
  text-decoration-line: none;
}

#topi nav a:hover{
  color: #D97A16;
  text-decoration-line: none;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -22px;
  max-height: 100px;
  margin-left: 80px;
}

nav{
  display: flex;
  justify-content: space-between;
  min-width: 325px;
  font-family: 'M Plus 2', "Helvetica", "Arial", sans-serif;
  padding-right: 80px;
}

#about h1{
  font-family: 'Playfair Display', "Helvetica", "Arial", serif;
  font-size: 70px;
}

#about p{
  font-family: 'M Plus 2', "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

#home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
      "figure text";
}

#player{
  grid-area: figure;
  margin: 0;
  margin-top: 17px;
  align-content: center;
  padding-left: 80px;
}

figcaption{
  text-align: center;
  font-family: 'M Plus 2', "Helvetica", "Arial", sans-serif;
  font-size: 10px;
}

#about{
  grid-area: text;
  padding: 25px 197px 0 102px;
}








/* Artist Playlists */

#topap h1 a:hover{
  color: #53879D;
  text-decoration-line: none;
}

#topap nav a:hover{
  color: #53879D;
  text-decoration-line: none;
}

.artist, .am, .spotify, .artist_one{
  color: #FFFFFF;
  margin-left: 35px;
}

.artist{
  font-family: 'Playfair Display', "Helvetica", "Arial", serif;
  margin-top: 215px;
  font-size: 30px;
}

.artist_one{
  font-family: 'Playfair Display', "Helvetica", "Arial", serif;
  margin-top: 255px;
  font-size: 30px;
}

.am, .spotify{
  font-family: 'Assistant', "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.attr{
  font-family: 'Assistant', "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 180px;
  text-align: center;
}

.attr a,
.attr a:link{
  color: #FFFFFF;
  text-decoration-line: underline;
}

.attr a:visited{
  color: #FFFFFF;
}

.attr a:hover{
  color: #FFFFFF;
  text-decoration-line: underline;
}

.attr a:active{
  color: #FFFFFF;
}

#artist_playlists{
  display: grid;
  grid-template-columns: repeat(3, 405px);
  grid-template-rows: repeat(4, 580px);
  grid-gap: 25px;
  grid-template-areas:
      "tyler frank smino"
      "denzel kendrick andy"
      "andre cole jid"
      "caesar chance mraz";
  margin: 10px 80px 40px 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
}

#tyler{
  background-image: url("../images/tyler.jpg");
  grid-area: tyler;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#frank{
  background-image: url("../images/frank.jpg");
  grid-area: frank;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#smino{
  background-image: url("../images/smino.jpg");
  grid-area: smino;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#denzel{
  background-image: url("../images/denzel.jpg");
  grid-area: denzel;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#kendrick{
  background-image: url("../images/kendrick.jpg");
  grid-area: kendrick;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#andy{
  background-image: url("../images/andy.jpg");
  grid-area: andy;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#andre{
  background-image: url("../images/andre.jpg");
  grid-area: andre;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#cole{
  background-image: url("../images/cole.jpg");
  grid-area: cole;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#jid{
  background-image: url("../images/jid.jpg");
  grid-area: jid;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#caesar{
  background-image: url("../images/caesar.jpg");
  grid-area: caesar;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#chance{
  background-image: url("../images/chance.jpg");
  grid-area: chance;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#mraz{
  background-image: url("../images/mraz.jpg");
  grid-area: mraz;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#arrow{
  position: fixed;
  top: 725px;
  height: 75px;
  width: 75px;
  left: 1250px;
}

.artist_link a,
.artist_link a:link{
  color: #FFFFFF;
  text-decoration-line: none;
}

.artist_link a:visited{
  color: #FFFFFF;
}

.artist_link a:hover{
  color: #FFFFFF;
  text-decoration-line: underline;
}

.artist_link a:active{
  color: #000;
}





/* Collections */

.collection_link a:hover{
  color: #0100EE;
  text-decoration-line: underline;
}

#topc h1 a:hover{
  color: #8C3448;
  text-decoration-line: none;
}

#topc nav a:hover{
  color: #8C3448;
  text-decoration-line: none;
}

#collections{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  grid-gap: 20px;
  grid-template-areas:
    "pic pic pic pic"
    "sostitle sostitle weektitle weektitle"
    "soslinks soslinks weeklinks weeklinks"
    "sosdescrip sosdescrip weekdescrip weekdescrip"
    "more more more more";
  margin-left: 82px;
  margin-right: 80px;
}

#soslinks{
  display: flex;
  grid-area: soslinks;
  gap: 20px;
}

#weeklinks{
  display: flex;
  grid-area: weeklinks;
  margin-left: 20px;
  gap: 20px;
}

.sos{
  margin: 0;
}

.week{
  margin: 0;
  margin-left: 20px;
}

#collectionpics{
  display: flex;
  grid-area: pic;
  justify-content: space-between;
}

#sostitle{
  grid-area: sostitle;
}

#sosdescrip{
  grid-area: sosdescrip;
  padding-right: 150px;
  font-family: 'M Plus 2', "Helvetica", "Arial", sans-serif;
}

#weektitle{
  grid-area: weektitle;

}

#weekdescrip{
  grid-area: weekdescrip;
  font-family: 'M Plus 2', "Helvetica", "Arial", sans-serif;
}

#more{
  grid-area: more;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}






/* Contact Us */

#topcu h1 a:hover{
  color: #008001;
  text-decoration-line: none;
}

#topcu nav a:hover{
  color: #008001;
  text-decoration-line: none;
}

#contact{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
    "socialtitle socialtitle socialtitle socialtitle"
    "insta-icon twitter-icon apple-icon spotify-icon"
    "insta twitter applem spotify";
  margin-left: 82px;
  margin-right: 80px;
}

#socialtitle{
  grid-area: socialtitle;
  margin-bottom: 25px;
}

#insta{
  grid-area: insta;
  text-align: center;
}

#twitter{
  grid-area: twitter;
  text-align: center;
}

#applem{
  grid-area: applem;
  text-align: center;
}

#spotify{
  grid-area: spotify;
  text-align: center;
}

.fa-instagram{
  grid-area: insta-icon;
  justify-self: center;
}

.fa-twitter{
  grid-area: twitter-icon;
  justify-self: center;
}

.fa-apple{
  grid-area: apple-icon;
  justify-self: center;
}

.fa-spotify{
  grid-area: spotify-icon;
  justify-self: center;
}

.fab{
  font-size: 50px;
}


.title{
  font-family: 'Playfair Display', "Helvetica", "Arial", serif;
  font-size: 25px;
}

.item{
  font-family: 'Assistant', "Helvetica", "Arial", sans-serif;
}

.social_link a,
.social_link a:link{
  color: #000;
  text-decoration-line: none;
}

.social_link a:visited{
  color: #000;
}

.social_link a:hover{
  color: #000;
  text-decoration-line: underline;
}

.social_link a:active{
  color: #000;
}



/*  Week Long */

.weeklong{
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
    "title"
    "weekattr"
    "row1"
    "row2";
  margin: -10px 80px auto 82px;
  margin-left: 82px;
  margin-right: 80px;
  margin-top: -10px;
}


.row1{
  display: grid;
  grid-area: row1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
    "sunpic monpic tuespic wedpic"
    "sunday monday tuesday wednesday";
  margin-top: 30px;
}

.row2{
  display: grid;
  grid-area: row2;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
    "thurspic fripic satpic"
    "thursday friday saturday";
  margin-top: 25px;
}



.pic{
  margin: 0;
}

.weeklongtitle{
  grid-area: title;
  margin-bottom: 0px;
}

.weeklongattr{
  grid-area: weekattr;
  font-family: 'Assistant', "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  margin-top: 0px;
  margin-left: 5px;
}

.sunpic{
  grid-area: sunpic;
  justify-self: center;
}

.sunday{
  grid-area: sunday;
  text-align: center;
}

.monpic{
  grid-area: monpic;
  justify-self: center;
}

.monday{
  grid-area: monday;
  text-align: center;
}

.tuespic{
  grid-area: tuespic;
  justify-self: center;
}

.tuesday{
  grid-area: tuesday;
  text-align: center;
}

.wedpic{
  grid-area: wedpic;
  justify-self: center;
}

.wednesday{
  grid-area: wednesday;
  text-align: center;
}

.thurspic{
  grid-area: thurspic;
  justify-self: right;
  margin-right: 25px;
}

.thursday{
  grid-area: thursday;
  text-align: right;
  margin-right: 75px;
}

.fripic{
  grid-area: fripic;
  justify-self: center;
}

.friday{
  grid-area: friday;
  text-align: center;
}

.satpic{
  grid-area: satpic;
  justify-self: left;
  margin-left: 25px;
}

.saturday{
  grid-area: saturday;
  text-align: left;
  margin-left: 75px;
}

.day{
  font-family: 'Assistant', "Helvetica", "Arial", sans-serif;
}

.day a:hover{
  color: #000;
  text-decoration-line: underline;
}





@media (max-width: 414px) {
  #home{
    grid-template-areas:
        "figure"
        "text";
  }

  #artist_playlists{
    grid-template-areas:
        "tyler"
        "frank"
        "smino"
        "denzel"
        "kendrick"
        "andy"
        "andre"
        "cole"
        "jid"
        "caesar"
        "chance"
        "mraz";
  }

  #collections{
    grid-template-areas:
      "sospic"
      "sostitle"
      "soslinks"
      "sosdescrip"
      "weekpic"
      "weektitle"
      "weeklinks"
      "weekdescrip"
      "more";
    margin-left: 82px;
    margin-right: 80px;
  }

  #sospic{
    grid-area: sospic;
  }

  #weekpic{
    grid-area: weekpic;
  }


  #contact{
    grid-template-areas:
      "socialtitle"
      "insta-icon"
      "insta"
      "twitter-icon"
      "twitter"
      "apple-icon"
      "applem"
      "spotify-icon"
      "spotify";
  }


  .row1{
    grid-template-areas:
      "sunpic"
      "sunday"
      "monpic"
      "monday"
      "tuespic"
      "tuesday"
      "wedpic"
      "wednesday";
  }

  .row2{
    grid-template-areas:
      "thurspic"
      "thursday"
      "fripic"
      "friday"
      "satpic"
      "saturday";
  }





}
