@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Indie+Flower&display=swap');

#top{
  background-color: #DC1720;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  max-height: 80px;
  padding-left: 33px;
}

#top a,
#top a:link{
  color: #000;
  text-decoration-line: none;
}

#top a:visited{
  color: #000;
}

#top h1 a:hover{
  color: #000;
}

#top nav a:hover{
  color: #0000E4;
  text-decoration-line: underline;
}

#top a:active{
  color: #000;
}

a,
a:link{
  color: #0000E4;
  text-decoration-line: none;
}

a:visited{
  color: #0000E4;
}

a:hover{
  color: #0000E4;
  text-decoration-line: underline;
}

a:active{
  color: #000;
}

#top h1{
  font-family: "Homemade Apple", "Helvetica", "Arial", sans-serif;
  position: relative;
  font-size: 40px;
  margin: 0;
  padding: 0;
  top: 4px;
  height: 100px;
  text-decoration-line: none;
}

#top nav{
  font-size: 18px;
  justify-content: center;
  position: fixed;
  margin: 0;
  top: 7px;
  right: 0%;
  padding-right: 15px;
}

#introduction p, #geography p, #economy li, #economy p {
  font-family: "Indie Flower";
}

#economy li::marker{
  font-family: "Arial";
  font-size: 13px;
}

p{
  line-height: 1.6;
}



table {
  table-layout: auto;
  width: auto;
  border: none;
  border-collapse: collapse;
}

td {
  border: none;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}

.left{
  padding-right: 15px;
}

.right{
  border-left: 1px solid black;
  padding-left: 15px;
}

.leader{
  border-bottom: 1px solid black;
}

html{
  scroll-padding: 80px;
}

main{
  display: grid;
  grid-auto-columns: minmax(min-content, max-content);
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
    "introduction figure1"
    "figure2 geography"
    "figure3 government"
    "economy economy";
  margin-top: 80px;
}


#introduction{
  grid-area: introduction;
}

#figure1{
  justify-self: center;
  grid-area: figure1;
  width: 450px;
  height: 323px;
  margin: 0;
  margin-top: 25px;
}

#figure1 figcaption{
  text-align: center;
}

#figure2{
  width: 450px;
  align-self: center;
  justify-self: center;
  grid-area: figure2;
}

#figure2 figcaption{
  text-align: center;
}

#geography{
  grid-area: geography;
}

#figure3{
  align-self: center;
  justify-self: center;
  grid-area: figure3;
}

#figure3 figcaption{
  text-align: center;
}

#government{
  grid-area: government;
  margin-top: 15px;
}

#economy{
  grid-area: economy;
}
















body{
  background-color: #FFF5D7;
}

@media (max-width: 736px) {
  #top nav{
    font-size: 17px;
}
