@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Indie+Flower&display=swap');

*{
  max-width: 136px;
}

#top{
  background-color: #E2E1DE;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  max-height: 100px;
  padding-left: 33px;
}

#top a,
#top a:link{
  color: #000;
  text-decoration-line: none;
}

#top a:visited{
  color: #000;
}

#top h1 a:hover{
  color: #000;
}

#top nav a:hover{
  color: #0000E4;
  text-decoration-line: underline;
}

#top a:active{
  color: #000;
}

a,
a:link{
  color: #0000E4;
  text-decoration-line: none;
}

a:visited{
  color: #0000E4;
}

a:hover{
  color: #0000E4;
  text-decoration-line: underline;
}

a:active{
  color: #000;
}

#top h1{
  font-family: "Homemade Apple", "Helvetica", "Arial", sans-serif;
  position: relative;
  font-size: 50px;
  margin: 0;
  padding: 0;
  top: 4px;
  height: 100px;
  text-decoration-line: none;
}

#top nav{
  font-size: 18px;
  justify-content: center;
  position: fixed;
  margin: 0;
  top: 25px;
  right: 0%;
  padding-right: 15px;
}

#introduction p, #geography p {
  font-family: "Indie Flower";
}

#introduction, #geography, #government, #economy{
  scroll-margin: 90px;
}

p{
  line-height: 1.6;
}

#content{
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  grid-template-rows: 435px 530px 900px 1200px;
  grid-template-areas:
    "introduction introduction figure1"
    "figure2 geography geography"
    "figure3 government government"
    "economy economy economy";
  margin-top: 91px;
}

#introduction{
  grid-area: introduction;
}

#figure1{
  align-self: center;
  justify-self: center;
  grid-area: figure1;
  width: 450px;
  height: 323px;
}

#figure1 figcaption{
  text-align: center;
}

#figure2{
  width: 450px;
  align-self: center;
  justify-self: center;
  grid-area: figure2;
}

#figure2 figcaption{
  text-align: center;
}

#geography{
  grid-area: geography;
  margin-left: 10px;
}

#figure3{
  align-self: center;
  justify-self: center;
  grid-area: figure3;
}

#figure3 figcaption{
  text-align: center;
}

#government{
  margin-left: 10px;
  grid-area: government;
}

#economy{
  grid-area: economy;
}









body{
  background-color: #FFF5D7;
}

@media (max-width: 736px) {
  #top nav{
    font-size: 17px;
}
