@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=M+PLUS+2:wght@300&family=Playfair+Display&display=swap');

#title{
  align-content: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-size: 27px;
}

.top a,
.top a:link{
  color: #000;
  text-decoration-line: none;
}

.top a:visited{
  color: #000;
}

#topi h1 a:hover{
  color: #D97A16;
}

#topi nav a:hover{
  color: #D97A16;
  text-decoration-line: none;
}

#topap h1 a:hover{
  color: #49CFF6;
}

#topap nav a:hover{
  color: #49CFF6;
  text-decoration-line: none;
}

#topc h1 a:hover{
  color: red;
}

#topc nav a:hover{
  color: red;
  text-decoration-line: none;
}

#topcu h1 a:hover{
  color: green;
}

#topcu nav a:hover{
  color: green;
  text-decoration-line: none;
}

.top a:active{
  color: #000;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -22px;
  max-height: 100px;
  margin-left: 80px;
}

nav{
  display: flex;
  justify-content: space-between;
  min-width: 325px;
  font-family: 'M Plus 2', sans-serif;
  padding-right: 80px;
}

#about h1{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}

#about p{
  font-family: 'M Plus 2', sans-serif;
  font-size: 15px;
}

#home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
      "figure text";
}

#player{
  grid-area: figure;
  margin: 0;
  margin-top: 17px;
  align-content: center;
  padding-left: 80px;
}

#player figcaption{
  text-align: center;
  font-family: 'M Plus 2', sans-serif;
  font-size: 10px;
}

#about{
  grid-area: text;
  padding: 25px 197px 0 102px;
}

.artist, .am, .spotify, .artist_one{
  color: #FFFFFF;
  margin-left: 35px;
}

.artist{
  font-family: 'Playfair Display', serif;
  margin-top: 215px;
  font-size: 30px;
}

.artist_one{
  font-family: 'Playfair Display', serif;
  margin-top: 255px;
  font-size: 30px;
}

.am, .spotify{
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

.attr{
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  margin-top: 180px;
  text-align: center;
}

.attr a,
.attr a:link{
  color: #FFFFFF;
  text-decoration-line: underline;
}

.attr a:visited{
  color: #FFFFFF;
}

.attr a:hover{
  color: #FFFFFF;
  text-decoration-line: underline;
}

.attr a:active{
  color: #FFFFFF;
}

#artist_playlists{
  display: grid;
  grid-template-columns: repeat(3, 405px);
  grid-template-rows: repeat(4, 580px);
  grid-gap: 25px;
  grid-template-areas:
      "tyler frank smino"
      "denzel kendrick andy"
      "andre cole jid"
      "caesar chance mraz";
  margin: 10px 80px 40px 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
}

#tyler{
  background-image: url("../images/tyler.jpg");
  grid-area: tyler;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#frank{
  background-image: url("../images/frank.jpg");
  grid-area: frank;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#smino{
  background-image: url("../images/smino.jpg");
  grid-area: smino;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#denzel{
  background-image: url("../images/denzel.jpg");
  grid-area: denzel;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#kendrick{
  background-image: url("../images/kendrick.jpg");
  grid-area: kendrick;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#andy{
  background-image: url("../images/andy.jpg");
  grid-area: andy;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#andre{
  background-image: url("../images/andre.jpg");
  grid-area: andre;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#cole{
  background-image: url("../images/cole.jpg");
  grid-area: cole;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#jid{
  background-image: url("../images/jid.jpg");
  grid-area: jid;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#caesar{
  background-image: url("../images/caesar.jpg");
  grid-area: caesar;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#chance{
  background-image: url("../images/chance.jpg");
  grid-area: chance;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#mraz{
  background-image: url("../images/mraz.jpg");
  grid-area: mraz;
  background-size: cover;
  width: 405px;
  height: 580px;
}

#collections{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
    "sospic weekpic"
    "sostitle weektitle"
    "sosdescrip weekdescrip"
    "more more";
  margin-left: 80px;
}

#test1{
  grid-area: sospic;
}

#test2{
  grid-area: weekpic;
}

#sostitle{
  grid-area: sostitle;
}

#sosdescrip{
  grid-area: sosdescrip;
}

#weektitle{
  grid-area: weektitle;

}

#weekdescrip{
  grid-area: weekdescrip;
}

#more{
  grid-area: more;
  text-align: center;
}


#contact{
  display: grid;
  grid-template-rows: minmax(min-content, max-content);
  grid-template-areas:
    "socialtitle socialtitle socialtitle socialtitle"
    "insta twitter applem spotify"
    "sug sug sug sug"
    "first artsug artsug artsug"
    "last com com com"
    "email com com com"
    "sub com com com"
    ". . . ."
    "submit . . .";
  margin-left: 80px;
  margin-right: 80px;
}

#socialtitle{
  grid-area: socialtitle;
}

#insta{
  grid-area: insta;
}

#twitter{
  grid-area: twitter;
}

#applem{
  grid-area: applem;
}

#spotify{
  grid-area: spotify;
}

#sug{
  grid-area: sug;
}

#first{
  grid-area: first;
}

#last{
  grid-area: last;
}

#email{
  grid-area: email;
}

#sub{
  grid-area: sub;
}

#artsug{
  grid-area: artsug;
}

#com{
  grid-area: com;
}

#submit{
  grid-area: submit;
}

.title{
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}

.item{
  font-family: 'Assistant', sans-serif;
}

#arrow{
  position: fixed;
  top: 725px;
  height: 75px;
  width: 75px;
  left: 1250px;
}
